#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 100px; */
  text-align: center;
}

body {
  background-color: #111;
  background: url(src/assets/bartender-blueFlame.webp) no-repeat center;
  color: #fff;
  font-family: arial, sans-serif;
  line-height: 1.6;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  
  
}



.logo img {
  width: 100px;
  height: 100px;
}
/*
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

section {
  padding: 40px;
}

/* Cocktail Connoisseurs */


/* Nav Bar */
/* h6 {
  flex: 1;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
} */

.Home>div {
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
}

.cocktail {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.cocktail img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.contact-info p {
  margin: 0;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.detail-title {
  font-size: 2rem;
  font-weight: bolder;
}

.detail-image {
  max-width: 300px;
  border: #888 1px solid;
  box-shadow: 3px 3px 3px grey;
}


.detail-bold {
  font-weight: bolder;
}

.detail-glass, .detail-instructions, .detail-recipe {
  text-align: left;

}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 50px;
  grid-template-areas: 
  "Header"
  "Main"
  "Footer";

  height: 90vh;
  max-height: 95vh;
  max-width: 90vw;

}

.Header {
  grid-area: Header;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  
  
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2.0em;
  font-family: cursive;
  margin-bottom: 5px;

  }


.Header>h4 {
  font-weight: bold;
  margin: 0;
  font-size: 2.2rem;
  font-family: cursive;
}
.Nav {
  display: flex;
}

.Nav>a {
  margin: 0 5px;
  font-size: .75rem;
  background-color: #1111113e;
  padding: 0 2px 0 2px;
  color: #ccc;
  margin-bottom: 5px;
}

.Main {
  grid-area: Main;
  background-color: #333333bc;
  overflow: scroll;
  padding: 5px;
}

.Cocktails {
  overflow: scroll;
}



.Footer {
  grid-area: Footer;

  
  /* background-color: #333; */
  color: #fff;
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  position: absolute;
  bottom: 0;
}

.Footer {
/*   background-color: green; */
}



/* .Cocktails{

} */
.title{
  font-size: 1.2rem;
  text-align: center;
}
.search-input{
  width: 60%; 
  padding: 8px;
  font-size: 16px; 
  border: 2px solid #ccc;
  border-radius: 5px; 
  outline: none; 
}
.search-submit-button {
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-left: 10px;
}

.search-submit-button:hover {
  background-color: #0056b3; 
}
.search-results-container{
  /* max-height: 300px;  */
  overflow: auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-results{
/* margin-top: 50px; */
padding-top: 10px;
}
.search-results-query{
margin: 10px 10px 10px 10px;
}
/* .search-results-grid{

} */
.search-results-grid-item, .detail-container{
  background-color: #333333bc;
  padding: 15px; /* Adjust the padding to increase the size of #333 card */
  margin-bottom: 25px;
  border-radius: 10px;
}
.search-results-grid-item:hover{
  background-color: #0056b3;
}
.drink-name{
  font-size: 15px;
  margin-bottom: -10px;
}
