#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #111;
  background: url(/Users/ahunter/Desktop/GA/Unit3/Week8/Tuesday/AnthonyAnthonySammyFood/FoodE/src/assets/MainDrink.jpeg) no-repeat center;
  color: #fff;
  font-family: arial, sans-serif;
  line-height: 1.6;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

section {
  padding: 40px;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {

}

.cocktail {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.cocktail img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info p {
  margin: 0;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.detail-title {
  font-size: 2rem;
  font-weight: bolder;
}

.detail-image {
  max-width: 300px;
  border: #888 1px solid;
  box-shadow: 3px 3px 3px grey;
}


.detail-bold {
  font-weight: bolder;
}

.detail-glass, .detail-instructions, .detail-recipe {
  text-align: left;

}