#root {
    max-width: 375px;
    margin: 0 auto;
    /* padding: 100px; */
    text-align: center;
  }
/* .Cocktails{

} */
.title{
    font-size: 30px;
    text-align: center;
}
.search-input{
    width: 60%; 
    padding: 8px;
    font-size: 16px; 
    border: 2px solid #ccc;
    border-radius: 5px; 
    outline: none; 
}
.search-submit-button {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-left: 10px;
  }
  
  .search-submit-button:hover {
    background-color: #0056b3; 
  }
.search-results-container{
    max-height: 300px; 
    overflow: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-results{
/* margin-top: 50px; */
padding-top: 10px;
}
.search-results-query{
margin: 10px 10px 10px 10px;
}
/* .search-results-grid{

} */
.search-results-grid-item{
    background-color: #333;
    padding: 15px; /* Adjust the padding to increase the size of #333 card */
    margin-bottom: 25px;
    border-radius: 10px;
}
.search-results-grid-item:hover{
    background-color: #0056b3;
}
.drink-name{
    font-size: 15px;
    margin-bottom: -10px;
}
